<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'TOP_MENU.SOCIAL' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="login-form-container" style="width: 100%;margin: 0;" *ngIf="!isLoading">
    <div class="wtw-title-container">
      {{ 'SOCIAL.FIND_FRIENDS' | translate }}
    </div>
    <div class="wtw-form-content">
      <div class="wtw-form-field-container">
        <ion-col class="search-form-container">
          <ion-list inset>
            <ion-item>
              <ion-label floating>{{ 'FORM.SEARCH' | translate }}</ion-label>
              <ion-input type="text" [(ngModel)]="search" name="search" (keydown)="keyDownFunction($event)"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </div>
      <div *ngIf="noResults" class="wtw-error">{{ 'CAST.NO_RESULTS' | translate }}</div>
      <button ion-button class="submit-btn login-form-btn" (click)="clickSearch()">{{ 'FORM.OK' | translate }}</button>
    </div>
  </div>
  <also-like [lang]="currentUser.lang"></also-like>
</ion-content>