page-social {
    .login-form-container {
        margin: auto;
        border-left: 2px solid #DE5E60;
        background-color: #26292e;
        text-align: left;
        padding: 20px;
    }

    ion-item {
        color: #fff !important;
        background-color: #26292e !important;
    }

    ion-list {
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 10px;
    }

    ion-col {
        padding: 0 !important;
    }

    .movie-title {
        display: none;
    }

    ion-icon {
        margin-right: 5px;
    }
}
