<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN.FORM.I_FORGOT_MY_PASSWORD' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="login-form-container">
    <form id="signup-form" class="login-form" [formGroup]="forgotPasswordForm" autocomplete="off" (keydown)="keyDownFunction($event)"
      novalidate>
      <div class="login-line forgot-pwd-explain">
        {{ 'LOGIN.FORM.FORGOT_PWD_EXPLANATION' | translate }}
      </div>
      <div class="login-line">
        <ion-item>
          <ion-label floating>{{'SIGNUP.FORM.EMAIL' | translate }}</ion-label>
          <ion-input id="email" formControlName="email" type="text" name="email"></ion-input>
        </ion-item>
      </div>
    </form>
    <div class="login-line button-line" *ngIf="!showSpinner">
      <div class="forgot-password-fail" *ngIf="showForgotPasswordError && !showForgotPasswordEmailSent">{{ 'LOGIN.FORM.FORGOT_PASSWORD_EMAIL_ERROR' | translate }}</div>
      <button ion-button (click)="forgotPassword(forgotPasswordForm.value)" *ngIf="!showForgotPasswordEmailSent">{{ 'FORM.OK' | translate }}</button>
      <button ion-button class="button-right" (click)="cancel()" *ngIf="!showForgotPasswordEmailSent">{{ 'FORM.CANCEL' | translate }}</button>
      <div class="forgot-password-success" *ngIf="showForgotPasswordEmailSent">{{ 'LOGIN.FORM.FORGOT_PASSWORD_EMAIL_SENT' | translate }}</div>
    </div>
  </div>
</ion-content>