<div class="top-right">
  <div class="progress-bar-container"><progress-bar [progress]="(questionAnswered / questionsToAnswer) * 100"></progress-bar></div>
  <div class="text-centered">{{ questionAnswered }}/{{questionsToAnswer}}</div>
</div>
<div class="questionnaire-container">
  <div class="question-block" *ngIf="welcomeMessage && isFirstQuestionnaire">
      <h2>{{ 'HOME.WELCOME' | translate }} {{ username }}</h2>
      <div class="welcome-message">{{ 'FIRST_QUESTIONNAIRE.WELCOME_MESSAGE' | translate }}</div>
      <div class="button-line">
          <button ion-button class="submit-btn login-form-btn" (click)="welcomeMessageOK()">{{ 'FORM.OK' | translate }}</button>
      </div>
  </div>
  <div class="question-block" *ngIf="states[0] && !welcomeMessage && isFirstQuestionnaire">
      <div>{{ 'FIRST_QUESTIONNAIRE.LANGUAGE_QUESTION' | translate }}</div>
      <div class="flags-container">
          <div class="flag-container" (click)="setTranslation('fr')"><span class="flag-icon flag-icon-fr" [ngClass]="{'flag-selected' : isTranslation('fr')}"></span></div>
          <div class="flag-container" (click)="setTranslation('en')"><span class="flag-icon flag-icon-gb" [ngClass]="{'flag-selected' : isTranslation('en')}"></span></div>
      </div>
      <div class="button-line" *ngIf="!showSpinner">
          <button ion-button class="submit-btn login-form-btn" (click)="langSkip()">{{ 'FORM.SKIP' | translate }}</button>
          <button ion-button class="submit-btn login-form-btn" (click)="langConfirm()">{{ 'FORM.NEXT' | translate }}</button>
      </div>
  </div>
  <div class="question-block" *ngIf="states[1] && isFirstQuestionnaire">
      <div>{{ 'FIRST_QUESTIONNAIRE.AGE_QUESTION' | translate }}</div>
      <ion-item>
          <ion-label floating>{{'LOGIN.FORM.PASSWORD' | translate }}</ion-label>
          <ion-input type="number" min="1900" max="2017" [(ngModel)]="yearOfBirth" name="yearOfBirth"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>{{ 'FIRST_QUESTIONNAIRE.LOCATION' | translate }}</ion-label>
          <ion-select [(ngModel)]="selectedCountry">
              <ion-option *ngFor="let country of countriesList" [value]="country.code">{{ country.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="button-line" *ngIf="!showSpinner">
          <button ion-button class="submit-btn login-form-btn" (click)="agePrevious()">{{ 'FORM.PREVIOUS' | translate }}</button>
          <button ion-button class="submit-btn login-form-btn" (click)="ageSkip()">{{ 'FORM.SKIP' | translate }}</button>
          <button ion-button class="submit-btn login-form-btn" (click)="ageConfirm()">{{ 'FORM.NEXT' | translate }}</button>
      </div>
  </div>
  <div class="question-block width95" *ngIf="states[2] && questionAnswered < questionsToAnswer && movie">
      <movie-questionnaire [movie]="movie" [lang]="lang" [movieQuestionnaireInit]="movieQuestionnaireInit" [config]="config" (notify)="movieQuestionnaireChange($event)" [lang]="lang"></movie-questionnaire>
      <div class="button-line" *ngIf="!showSpinner">
          <button ion-button class="submit-btn login-form-btn btn-left" (click)="moviePrevious()" *ngIf="!isFirstQuestionnaire && movieIndex != 0">{{ 'FORM.PREVIOUS' | translate }}</button>
          <button ion-button class="submit-btn login-form-btn" (click)="movieSkip()">{{ 'FORM.SKIP' | translate }}</button>
          <button ion-button class="submit-btn login-form-btn btn-right" (click)="movieConfirm()">{{ 'FORM.NEXT' | translate }}</button>
      </div>
  </div>
  <div class="question-block thank-you-block" *ngIf="states[2] && questionAnswered >= questionsToAnswer">
      <h1><i class="fa fa-check-circle-o" aria-hidden="true"></i>{{ 'FIRST_QUESTIONNAIRE.DONE' | translate }}</h1>
      <div *ngIf="isFirstQuestionnaire"><button ion-button class="submit-btn login-form-btn" (click)="goToHome()">{{ 'FIRST_QUESTIONNAIRE.GO_TO' | translate }}{{ 'FIRST_QUESTIONNAIRE.HOMEPAGE' | translate }}</button></div>
      <div *ngIf="!isFirstQuestionnaire"><button ion-button class="submit-btn login-form-btn" (click)="refreshPage()">{{ 'FIRST_QUESTIONNAIRE.CONTINUE' | translate }}</button></div>
  </div>
</div>