<div class="card-container">
  <div class="card-content">
    <div class="date">{{ createdAt | date:'dd' }} {{ 'MONTHS.' + getMonth(createdAt) | translate }} {{ 'TIME.AT' | translate }} {{ createdAt
      | date:'HH:mm' }}</div>
    <span class="card-text" *ngIf="isCurUserYou">{{ 'TIMELINE.YOU' | translate }}{{ 'TIMELINE.ARE_FOLLOWING' | translate }}</span>
    <span class="card-text" (click)="goToUser(curUserId)" *ngIf="!isCurUserYou">{{ curUsername }} {{ 'TIMELINE.IS_FOLLOWING' | translate }}</span>
    <span class="card-text" *ngIf="isFriendUserYou">{{ 'TIMELINE.YOU_LOWER_FOLLOW' | translate }}</span>
    <span class="card-text" (click)="goToUser(friendUserId)" *ngIf="!isFriendUserYou">{{ friendUsername }}</span>
  </div>
</div>