<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'TOP_MENU.MY_PROFILE' | translate }}</ion-title>
    <top-menu-notification [parentSubject]="parentSubject"></top-menu-notification>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!isLoading" style="padding-top: 10px">
    <div class="profile-picture-container">
      <div class="profile-picture" *ngIf="photoData">
        <ion-icon name="close" (click)="delete()"></ion-icon>
        <img [src]="photoData" style="height: 150px;" />
      </div>
      <div class="no-picture-container" *ngIf="!photoData">
        <ion-icon name="person"></ion-icon>
      </div>
      <div style="text-align: center">
        <button ion-button (click)="presentActionSheet()">{{ 'FORM.UPLOAD' | translate }}</button>
      </div>
    </div>
    <div class="profile-name-container" *ngIf="!isLoading">
      <div class="login-form-container" style="width: 100%;margin: 0;">
        <h1 class="wtw-title-container">
          {{ username }}
        </h1>
        <div class="wtw-form-content">
          <div class="wtw-form-field-container">
            <ion-item>
              <ion-label floating>{{'SIGNUP.FORM.FIRST_NAME' | translate }}</ion-label>
              <ion-input type="text" [(ngModel)]="profileForm.firstName" name="firstName"></ion-input>
            </ion-item>
          </div>
          <div class="wtw-form-field-container">
            <ion-item>
              <ion-label floating>{{'SIGNUP.FORM.LAST_NAME' | translate }}</ion-label>
              <ion-input type="text" [(ngModel)]="profileForm.lastName" name="firstName"></ion-input>
            </ion-item>
          </div>
          <div class="wtw-form-field-container">
            <ion-item>
              <ion-label floating>{{ 'FORM.YEAR_OF_BIRTH' | translate }}</ion-label>
              <ion-input type="number" min="1900" max="2017" [(ngModel)]="profileForm.yearOfBirth" name="yearOfBirth"></ion-input>
            </ion-item>
          </div>
          <div class="wtw-form-field-container">
            <ion-list>
              <ion-item>
                <ion-label>{{ 'FIRST_QUESTIONNAIRE.COUNTRY' | translate }}</ion-label>
                <ion-select [(ngModel)]="profileForm.selectedCountry">
                  <ion-option *ngFor="let country of countriesList" [value]="country.code">{{ country.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
          <button ion-button (click)="save()">{{ 'FORM.SAVE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>