page-sign-up {
    .login-form-container {
        width: 100%;
        margin: auto;
        border-left: 2px solid #DE5E60;
        background-color: #26292e;
        text-align: left;
        padding: 20px;
        padding-top: 5px;
        ion-item {
            background-color: #26292e;
            color: #FFF;
        }

        .button-line {
            margin-top: 10px;
            .button-right {
                float: right;
            }
        }

        em {
            font-size: 10px;
            color: #DE5E60;
        }

        ion-item.ng-invalid {
            .item-inner {
                .input-wrapper {
                    ion-label {
                        color: #DE5E60 !important;
                    }
                }
            }
        }
    }
}
