page-tv {
    ion-item {
        color: #fff !important;
        background-color: #2f3238 !important;
    }
    .search-result {
        margin: 20px;
        border-top: 1px solid #DE5E60;
        min-height: 160px;
        padding: 15px;

        ion-icon {
            margin-top: 50px;
            margin-left: 35px;
            font-size: 55px;
        }
    
        .search-result-poster {
            float: left;
        }
    
        .search-result-title {
            display: inline-block;
            vertical-align: top;
            font-size: 25px;
            margin-left: 15px;
            font-weight: bold;
        }
    
        .search-result-year {
            display: inline-block;
            vertical-align: top;
            font-size: 25px;
            margin-left: 10px;
            font-style: italic;
        }
    
        .search-result-overview {
            line-height: 1;
            margin-top: 10px;
            display: inline-block;
        }
    
        .search-result-button-container {
            margin-left: 125px;
            margin-top: 40px;
        }
    }
}
