tv-wall {
    .movie-wall-container {
        .movie-container {
            display: inline-block;
            margin-left: 10px;
            margin-bottom: 10px;
            vertical-align: bottom;
    
            img {
                border-radius: 5px;
            }
        }
    
        .movie-title {
            line-height: 1;
            text-align: center;
            font-weight: bold;
        }
    }
}
