also-like {
    .also-like-movie-container {
        .movie-container {
            display: inline-block;
            position: relative;
            margin-left: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            vertical-align: bottom;
    
            img {
                border-radius: 5px;
            }
        }
    
        .movie-title {
            position: absolute;
            top: 20px;
            padding: 10px;
            line-height: 1;
            text-align: center;
            font-weight: bold;
        }
    
        margin-bottom: 10px;
    }
    
    .also-like-users-container {
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
    
        i {
            margin-right: 5px;
        }
    
        .also-like-user {
            cursor: pointer;
            line-height: 0px;
            margin-bottom: 5px;
        }
    
        .also-like-user:hover {
            text-decoration: underline;
        }
    }
    
    .also-like-container {
        margin-top: 35px;
    
        .also-like-title {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}
