page-user {

    .profile-card-container {
        display: flex;
        margin-top: 10px;
    
        .profile-information-container {
            h2 {
                margin: 0;
                line-height: 28px;
                padding-left: 10px;
                display: inline-block;
                font-size: 19px;
            }
    
            .country-container {
                margin-bottom: 10px;
                padding-left: 10px;
            }
        }
    }

    .profile-picture-container {
        display: inline-block;
        background-color: #26292E;
        padding: 6px;
    
        input {
            width: 150px;
        }
    
        .profile-picture {
            border: 4px solid #26292E;
    
            i {
                display: none;
            }
        }
    
        .profile-picture:hover {
            i {
                position: absolute;
                color: #DE5E60;
                display: block;
                font-size: 20px;
            }
        }
    
        .no-picture-container {
            font-size: 55px;
            text-align: center;
            padding: 10px;
        }
    }

    .social-buttons-container {
        padding-left: 10px;
    }

    .grade-column {
        display: inline-block;
        margin-left: 10px;
    }

    .like-dislike-container {
        margin-top: 10px;
    
        .questionnaires-container {
            margin-bottom: 20px;
    
            .questionnaires-title {
                font-size: 19px;
                margin-bottom: 10px;
            }
        }
    }
}
