page-notifications {
    .notification-date-container {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        background-color: #de5e60;
        padding: 10px;
    }

    .notification-container {
        padding-top:30px;
    }
    .notification-button-container {
        margin-top: 10px;
    }

    .unread-notification {
        font-weight: bold;
    }

    .notification-text-container {
        white-space: normal;
    }
}
