<ion-header>

  <ion-navbar>
    <ion-title>{{'NOTIFICATIONS' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let n of notifications">
        <div class="notification-container" [ngClass]="{ 'unread-notification': !n.read }">
            <div class="notification-date-container">{{ n.createdAt | date:'dd' }} {{ 'MONTHS.' + getMonth(n.createdAt) | translate }} {{ 'TIME.AT' | translate }} {{ n.createdAt
              | date:'HH:mm' }}</div>
            <div class="notification-text-container" [ngSwitch]="n.type">
              <span *ngSwitchCase="0" (click)="goToUser(n.variables.userId)" [innerHTML]="'NOTIFICATION.FOLLOW' | translate:n.variables"></span>
              <span *ngSwitchCase="1" (click)="goToUser(n.variables.userId)" [innerHTML]="'NOTIFICATION.FRIEND_REQUEST' | translate:n.variables"></span>
              <span *ngSwitchCase="2" (click)="goToUser(n.variables.userId)" [innerHTML]="'NOTIFICATION.FRIEND_REQUEST_ACCEPTED' | translate:n.variables"></span>
              <span *ngSwitchCase="3" (click)="goToUser(n.variables.userId)" [innerHTML]="'NOTIFICATION.FRIEND_REQUEST_REFUSED' | translate:n.variables"></span>
            </div>
            <div class="notification-button-container" *ngIf="n.type == 1">
              <button ion-button (click)="acceptFriend(n.variables.userId, n.id)">{{ 'SOCIAL.ACCEPT_FRIEND' | translate }}</button>
              <button ion-button (click)="refuseFriend(n.variables.userId, n.id)">{{ 'SOCIAL.REFUSE_FRIEND' | translate }}</button>
            </div>
          </div>
    </ion-item>
  </ion-list>
</ion-content>