timeline {
    virtual-scroll {
        display: block;
        width: 100%;
        height: 90vh;
      }
      
      ion-item {
        display: block;
        width: 100%;
        height: 350px;
      }

      ion-card {
        min-height: 300px;
      }
}
