timeline {
    virtual-scroll {
        display: block;
        width: 100%;
        height: 90vh;
      }
      
      ion-item {
        display: block;
        width: 100%;
        height: 190px;
        
      }

      .item-md {
        background-color: #2f3238;
      }

      ion-card {
        min-height: 100px;
      }

      .item-inner {
        border: none !important;
      }
}
