<ion-list>
  <virtual-scroll [items]="timelineEvents" (update)="viewPortItems = $event">
      <ion-item *ngFor="let e of viewPortItems">
          <ion-card>
            <h2 *ngIf="e.type == 1">{{ 'TIMELINE.TITLE_FOLLOW' | translate }}</h2>
            <h2 *ngIf="e.type == 2">{{ 'TIMELINE.TITLE_FRIEND' | translate }}</h2>
            <div *ngIf="e.type == 0">
              <timeline-event-rate-movie [createdAt]="e.createdAt" [friends]="friends" [curUserId]="e.userId" [isCurUserYou]="e.userId == currentUserId" [config]="config" [questionnaire]="e.variables.questionnaire" [isTV]="e.variables.isTV" [lang]="lang"></timeline-event-rate-movie>
            </div>
            <div *ngIf="e.type == 1">
              <timeline-event-follow [createdAt]="e.createdAt" [friends]="friends" [curUsername]="e.variables.username" [friendUserId]="e.userId" [curUserId]="e.variables.userId" [isCurUserYou]="e.variables.userId == currentUserId" [isFriendUserYou]="e.userId == currentUserId"></timeline-event-follow> 
            </div>
            <div *ngIf="e.type == 2">
              <timeline-event-friend [createdAt]="e.createdAt" [friends]="friends" [curUsername]="e.variables.username" [friendUserId]="e.userId" [curUserId]="e.variables.userId" [isCurUserYou]="e.variables.userId == currentUserId" [isFriendUserYou]="e.userId == currentUserId"></timeline-event-friend> 
            </div>
          </ion-card>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
  </virtual-scroll>
</ion-list>


