<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'TOP_MENU.MOVIE_QUESTIONNAIRE' | translate}}</ion-title>
    <top-menu-notification [parentSubject]="parentSubject"></top-menu-notification>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="start-questionnaire-container" *ngIf="!startNewClicked && !loadingState && !selectedMovie">
    <button ion-button class="submit-btn login-form-btn" (click)="startNewQuestionnaire()">{{ 'QUESTIONNAIRE.START_NEW' | translate }}</button>
    <h2>{{'QUESTIONNAIRE.HISTORY' | translate }}</h2>
    <div class="categories-placeholder" *ngIf="categoriesNotLoaded">
      Loading...
    </div>
    <div *ngFor="let category of categories" class="category-container">
      <div class="questionnaire-separator"></div>
      <div class="category-title" *ngIf="category.values && category.values.length > 0">
        <span *ngIf="category.type == 'text'">{{ category.name | translate }}</span>
        <span *ngIf="category.type == 'star'">
          <star-rating-comp [rating]="category.name" [readOnly]="true" [step]="1" [starType]="'icon'" [numOfStars]="5" [size]="'medium'"></star-rating-comp>
        </span>
      </div>
      <div class="category-movie-wall" *ngIf="category.values && category.values.length > 0">
        <movie-wall [movieIds]="category.values" [lang]="lang" [config]="configuration" (notify)="onClickMovie($event)"></movie-wall>
      </div>
    </div>
  </div>
  <div *ngIf="startNewClicked && !loadingState && !selectedMovie">
    <questionnaire [isFirstQuestionnaire]="false" [lang]="lang" [config]="configuration"></questionnaire>
  </div>
</ion-content>