page-movies-questionnaire {
    .category-title {
        margin-bottom: 25px;
    }
    .rating {
        justify-content: left;
    }
    .category-title {
        font-size: 20px;
        font-weight: 700;
    }
}
